*{
    margin: auto;
    border: auto;
    padding: auto;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    color: black;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th{
    background-color: #4c68af;
    color: white;
}
th, td{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
}
button{
    background-color: #4c68af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
}
#container {
    text-align: center;
    margin-top: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-img {
    width: 300px;
    height: auto;
    margin: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

.popup img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
}